<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Updated Milk Product</li>
      <li>Coffee</li>
      <li>Soya Beans</li>
      <li>add more...</li>
    </ul>
  </body>
</html>