<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>lucozade</li>
      <li>Vegetables</li>
      <li>Peppers</li>
      <li>add more...</li>
    </ul>
  </body>
</html>