<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Water</li>
      <li>Cake</li>
      <li>Butter Bean</li>
      <li>add more...</li>
    </ul>
  </body>
</html>