<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>fanta</li>
      <li>fruit</li>
      <li>mushrooms</li>
      <li>add more...</li>
    </ul>
  </body>
</html>